.App {
  text-align: center;
  margin-top: 15%;
}

.initialTitle{
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 10px #fff,  0 0 20px #fff, 0 0 30px #5af7fc, 0 0 40px #5af7fc, 
     0 0 50px #5af7fc, 0 0 60px #5af7fc, 0 0 70px #5af7fc;
}





